
  body{
    margin: 0;
    background-color: #EAF6F6;
    font-family: 'Merriweather',serif;

      }

      hr{
        border-style: none;
        border-top-style: dotted;
        width: 4%;
        border-color: grey;
        border-width: 5px;
      }

      h1{
        color: #66BFBF;
        margin-top:0;
        font-family: 'Sacramento', cursive;
      }

h2{
  font-family: 'Montserrat', sans-serif;
}
      h3{
        color: #1f6650;
        font-family: 'Montserrat', sans-serif;
      }

      .pi{
        text-decoration: underline;
      }
